---
id: "{{type_name}}"
title: "{{type_name}}"
pagination_next: null
pagination_prev: null
---

<div style=\{{ display: "flex", flexDirection: "row", alignItems: "start", justifyContent: "center" }}>
<div style=\{{ flexBasis: "35rem", flexGrow: "0", minWidth: "0" }}>
<div style=\{{ marginLeft: "1rem", marginBottom: "2rem" }}>
<div style=\{{ color: "#C42759" }}>
# `{{type_name}}`
</div>

{{description}}
</div>

{{#if fields}}
<div style=\{{ marginLeft: "1rem" }}>
## Fields
</div>
{{#each fields}}
<div class="field-card" style=\{{ borderRadius: "0.5rem", padding: "0.75rem 1rem", marginBottom: "1rem", border: "1px solid rgba(18, 62, 183, 0.2)", boxShadow: "0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1)" }}>
### `{{this.field_name}}`: <span style=\{{ color: "#C42759" }}>`{{this.field_type}}`</span> <div style=\{{ float: "right", color: "#888888", fontSize: '10pt' }}>{{#if this.optional}}Optional{{else}}Mandatory{{/if}}</div>
{{{this.description}}}
</div>
{{/each}}
{{/if}}
{{#if variants}}
<div style=\{{ marginLeft: "1rem" }}>
## Variants
</div>
{{#each variants}}
<div class="field-card" style=\{{ borderRadius: "0.5rem", padding: "0.75rem 1rem", marginBottom: "1rem", border: "1px solid rgba(18, 62, 183, 0.2)", boxShadow: "0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1)" }}>
### `{{this.variant_name}}`
{{{this.description}}}
</div>
{{/each}}
{{/if}}
</div>
</div>