---
id: "{{type_name}}"
title: "{{type_name}}"
hide_table_of_contents: true
pagination_next: null
pagination_prev: null
---

<div style=\{{ display: "flex", flexDirection: "row", alignItems: "start", justifyContent: "center" }}>
    <div style=\{{ flexBasis: "35rem", flexGrow: "0", minWidth: "0" }}>
        <div style=\{{ marginLeft: "1rem", marginBottom: "2rem" }}>
            <div class="api-title">
                <div style=\{{ width: "fit-content", fontWeight: 500, color: "gray" }}>
                    {{#if (isdefined sent_by)}}
                    Message
                    {{else if variants}}
                    Enumeration
                    {{else}}
                    Object
                    {{/if}}
                </div>
                # `{{type_name}}`
            </div>

            {{description}}
        </div>

        {{#if fields}}
        <div style=\{{ marginLeft: "1rem" }}>
            ## Fields
        </div>
        {{#each fields}}
        <div class="field-card">
            <h3>`{{this.field_name}}`: <span className="type-link">{{linktype this.field_type}}</span> <div style=\{{ float: "right", color: "#888888", fontSize: '10pt', fontWeight: "400" }}>{{#if this.optional}}Optional{{else}}Mandatory{{/if}}</div></h3>
            {{{this.description}}}
        </div>
        {{/each}}
        {{/if}}

        {{#if variants}}
        <div style=\{{ marginLeft: "1rem" }}>
            ## Variants
        </div>
        {{#each variants}}
        <div class="field-card" style=\{{ borderRadius: "0.5rem", padding: "0.75rem 1rem", marginBottom: "1rem", border: "1px solid rgba(18, 62, 183, 0.2)", boxShadow: "0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1)" }}>
            <h3>`{{this.variant_name}}`</h3>
            {{{this.description}}}
        </div>
        {{/each}}
        {{/if}}

        {{#if see_also}}
        <div style=\{{ height: "1rem" }}></div>
        ## See also
        {{#each see_also}}
        - [{{this.name}}]({{this.link}})
        {{/each}}
        {{/if}}
    </div>
</div>